body{
    margin: 0;
    padding:0;
    background: #eee;
}

*{
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    user-select:none;
}
p{
    margin: 0;
}