@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url('iconfont.ttf?t=1698247591385') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanliyuan:before {
  content: "\e696";
}

.icon-yonghu:before {
  content: "\e697";
}

.icon-tianjiayonghu:before {
  content: "\e698";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-shipin:before {
  content: "\e6bb";
}


.icon-dianzan:before {
  content: "\f010d";
}

.icon-shouye:before {
  content: "\e629";
}

.icon-shoucang:before {
  content: "\e62a";
}

.icon-shijianzhou:before {
  content: "\e67a";
}

.icon-remen:before {
  content: "\e8f4";
}

.icon-zuozhe:before {
  content: "\e65c";
}

.icon-airudiantubiaohuizhi-zhuanqu_zixundongtai:before {
  content: "\e69d";
}

.icon-chuangzuo:before {
  content: "\e8ad";
}

.icon-shangchuan_huaban:before {
  content: "\e66e";
}

.icon-level1:before {
  content: "\e61b";
}

.icon-level2:before {
  content: "\e619";
}

.icon-level3:before {
  content: "\e61a";
}

.icon-level4:before {
  content: "\e61c";
}

.icon-level5:before {
  content: "\e61d";
}

.icon-level6:before {
  content: "\e61e";
}

.icon-lishi:before {
  content: "\e61f";
}

.icon-bofangliang:before {
  content: "\e618";
}

.icon-vip:before {
  content: "\e873";
}